assets/
uploads/
PHPMailer-master/
xlsx/Classes/
xlsx/phpspreedsheet/
xlsx/upload/
include/shi-config.php
include/global_auth_config.php
include/functions.php
*index.php
include/payment-config.php
mpdf/
*.htaccess
pages/upload/
cron/mpdf/
pages/old/
ajax/service/old/
shi-config*
.well-known/
cgi-bin/
cron/lockFile/
*.xlsx
livereadonlydb/
*.txt
error_log*
*.ini